body {
  font-family: monospace;
  padding: 20px;
  max-width: 650px;
}

a {
  color: #00f;
}
a:visited {
  color: #551a8b;
}

nav ul {
  list-style: none;
  padding: 0;
}
nav li {
  display: inline;
  margin-right: 15px;
}
